.profile-card {
    gap: 32px;
    grid-column: span 2;
}

.profile-image {
    width: 6rem;
    height: auto;
    max-width: 250px;
    min-width: 50px;
    object-fit: scale-down;
}

.profile-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;
}

.profile-content > .profile-name {
    margin: 0;
    padding: 0;
    bottom: 0;
    text-align: right;
}

@media screen and (max-width: 640px) {
    .profile-card {
        flex-direction: column;
        align-items: center;
    }
}
