.profile-card {
    gap: 32px;
    grid-column: span 2;
    grid-row: span 1;
    aspect-ratio: auto;
    height: 100%;
}

.profile-image {
    width: 20vw;
    min-width: 64px;
    max-width: 128px;
    height: auto;
    object-fit: contain;
}

.profile-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.profile-content > .profile-name {
    margin: 0;
    padding: 0;
    bottom: 0;
    text-align: right;
}

#github-card {
    background-color: #24292e;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    grid-column: span 1;
    grid-row: span 1;
    aspect-ratio: 1 / 1;
}
